//
	Created by Qingo(site: http://www.qingo.me, email: all@qingo.me) on 2014/10/3. site: http://www.qingo.me
doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title
	body
		dl
			dt Singleton模式
			dd Singleton模式用来保证某个类的实例只有一个，
			| 那么是某个实例只有一个还是某个类产生的实例只能有一个？
			| 在Javascript中，实例只有为一个是天生的特性，
			| 而如果某个类只能有一个实例，这个需要函数闭包来完成，
			| 而且不一定要是类，普通函数也可以。